{% extends 'base.html' %}
{% load socialaccount %}
{% block title %} Detail of Music Talk {% endblock title %}

{% block body %}

<br>
<div class="d-flex align-items-center flex-column">
    <h2>{{ blog.title }}</h2>
    <small>{{ blog.date }}</small>
    <hr width="40%">
    <p>{{ blog.body }}</p>
</div>


{% load social_share %}
{% post_to_facebook object_or_url "<p style='color: green;'>facebook</p>" %}
{% post_to_twitter "New Song: {{object.title}}. Check it out!" object_or_url "Post to Twitter" %}

{% endblock body %}